body{
    background: linear-gradient(to right, #ffe4f2, #ffd6eb);
    font-family: Times New Roman;
}

.navbar{
    width: 90%;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    }

.navbar a{
    margin: 20px;
    font-size: 20px;
    padding: 8px 12px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(210, 74, 142);
    }

.navbar a:hover{
    border-radius: 20px;
    background-color: #ffd6eb;
}

.home{
    text-align: center;
    padding: 60px 20px;
}

.home h1{
    font-size: 40px;
}

.home p{
    font-size: 20px;
    font-style: italic;
}

.me{
    width: 200px;
    border-radius: 50%;
    margin-top: 10px;
}

.about{
    background: white;
    width: 70%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.projects{
    background: white;
    width: 70%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.skills{
    background: white;
    width: 70%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.contact{
    background: white;
    width: 70%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.experience{
    background: white;
    width: 70%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}